*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.logo{
  display: inline;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: 'Audiowide', cursive;
}

.nav-list{
  display: inline;
  font-family: 'Kanit', sans-serif;
}
a{
  text-decoration: none;
}
.nav-bar{
  padding-left: 4rem;
  height: 3rem;
  padding-top: 1rem ;
}
.nav-list{
  margin-left: 43%;
}

.nav-list a{
  margin-left: 2.5rem;
  display: inline-block;
  height: 2rem;
  width: 5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 2rem;
  color: black;
  font-weight: 200;
}

.nav-list a:hover{
  background-color: #FD04B7;
  color:#FFFFFF;
  opacity: 0.6;
}
.section-1{
  background-color: #FCC2C2;
  height: 100vh;
  border-bottom-left-radius: 15rem;
  
  box-shadow: 0 0 0 10rem #CBCAD0;
  margin-top: -3rem;
}
.main-sec{
  text-align: center;
  padding-top: 9rem;
  font-family: 'Kanit', sans-serif;
}

.main-sec p{
  opacity: 58%;
  font-size: 2rem;
}

.main-sec .first-half{
  padding-top: 3.2rem;
}
.heading{
  font-size: 3rem;
  font-family: 'Kanit', sans-serif;
}

.main-sec button{
  border-style: none;
  margin-top: 2.5rem;
  height: 2.5rem;
  width: 9rem;
  border-radius: 2rem;
  color: #FFFFFF;
  background-color: #FD04B7;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;

}
.section-2{
  height: 100vh;
  background-color: #CBCAD0;
  border-bottom-right-radius: 15rem;
  box-shadow: 14rem 1rem 0 0 #C2F5FC;
  
  
}
.section-2 span{
  background-color: #FCC2C2;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin-top: 1.5rem;
}

.section-2 img{
  height: 112px;
  width: 106;
  padding-top: 1.5rem;
}
.section-2 div{
  background-color: #FFFFFF;
  display: inline-block;
  height: 23rem;
  margin-left: 7rem;
  text-align: center;
  padding-top: 1rem;
  width: 17rem;
  border-radius: 2rem;
}

.section-2 .first-line{
  margin-top: 1rem;
}
.section-2 p{
  font-family: 'Kanit', sans-serif;
  opacity: 0.6;
}
.section-2 h3{
  font-family: 'Kanit', sans-serif;
  height: 4rem;
  padding-top: 1.5rem;
  font-size: 2rem;
}
.purpose{
  text-align: center;
  height: 7rem;
  padding-top: 2rem;
  display: block;
  font-size: 2.5rem;
  font-family: 'Kanit', sans-serif;

}
.section-2 div:hover{
  box-shadow: 0rem 0rem 1rem 0rem #48484A;
  
}
.section-3{
  height: 100vh;
  background-color: #C2F5FC;
  border-bottom-left-radius: 15rem;
  
}
.section-3 div{
  float: left;
  margin-left: 7rem;
  font-family: 'Kanit', sans-serif;
  margin-top: 5rem;

}
.aboutus{
  font-size: 1.5rem;
  opacity: 0.6;
}

.section-3 h1{
  font-size: 2rem;
  
}

.section-3 img{
  height: 311px;
  width: 452px;
  display: inline-block;
  margin-left: 9rem;
  margin-top: 5rem;
  
}

.section-4{
  font-family: 'Kanit', sans-serif;
  height: 100vh;
  background-color: #FFFFFF;
  

}

.section-4 .portfolio{
  display: inline-block;
  margin-top: 5rem;
  margin-left: 7rem;
}
.section-4 .portfolio h1{
  font-size: 2rem;
}
.section-4 button{
  margin-left: 32rem;
  border-style: none;
  height: 2.5rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #FD04B7;
  text-decoration: none;
  color: #FFFFFF;

}
.section-4 .contactus{
  text-align: center;
  margin-top: 3rem;
  font-size: 1.8rem;

}
.section-4 .form h3{
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1rem;
  opacity: 0.6;
  font-weight: 1rem;
 
}

.section-4 .form{
  background-color:#C2FCE4;
  width: 30%;
  margin-left: 27.5rem;
  margin-top: 2rem;
  border-radius: 20px;
  height: 14rem;
  
}
.section-4 .form label,input{
       display: block;
}

.section-4 input{
  width: 18rem;
  margin-top: 0.5rem;
  border-style: none;
  height: 2rem;
  border-radius: 15px;
  
}
input[type="text"],input[type="email"]{
  padding-left: 1rem;
}


.section-4 .form div{
  margin-top: 2rem;
  margin-left: 3rem;

}
.section-4 label{
  margin-top: 0.3rem;
}

.create-title{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
}
.create-form label{
  display: block;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  opacity: 0.8;
}

.create-form{
  margin-left: 20%;
  margin-top: 0.5rem;
}

.create-form input{
  border-style: none;
  margin-top: 0.1rem;
  height: 2.5rem;
  background-color:#D9D9D9;
  width: 50rem;
  
}
.create-form textarea{
  border-style: none;
  margin-top: 0.1rem;
  background-color:#D9D9D9;
  width: 50rem;
}

.create-form button{
  border-style: none;
  background-color: #FD04B7;
  color: #FFFFFF;
  height: 2.5rem;
  width: 7rem;
  border-radius: 2rem;
  font-family: 'Kanit', sans-serif ;
  display: block;
  margin-left: 20rem;
  margin-top: 1rem;
}

.Blogs{
  width: 35rem;
  height: 5rem;
  border-radius: 15px;
  margin-top: 1rem;
  
  margin-left: 20rem;
  padding: 0.5rem 0 0 2rem;
  font-family: 'Kanit', sans-serif;
}
.Blogs:hover{
  background-color: #C2FCE4;
}

.Blog{
  margin-top: 3rem;
  
  
}
.blog-heading{
  text-align: center;
  font-family:  'Kanit', sans-serif;
}
.Blogs h4{
  opacity: 0.5;
}
.Blogs a{
  text-decoration: none;
  color: black;
}

.Loading{
  margin-top: 2rem;
  margin-left: 20rem;
  font-size: 3rem;
  font-family: 'Kanit', sans-serif;
}

.single-blog{
  margin-top: 5rem;
  margin-left: 6rem;
  font-family: 'Kanit', sans-serif;
}

.single-blog h4{
  opacity: 0.6;
}

.single-blog p{
  margin-top: 2rem;
  ;
  
}

.single-blog button{
  display: inline-block;
  height: 2rem;
  width: 6rem;
  border-style: none;
  border-radius: 1rem;
  background-color: #FD04B7;
  color: #FFFFFF;
  margin-top: 3rem;
  
}
